<section class="bg-dark bg-gradient text-white pt-1">
    <div class="container mt-5 ">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 " >
                <div class="card text-center text-dark shadow " style="width: 15rem; height: 32rem; margin-bottom:20%  ; ">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top m-3" alt="..."
                        style="height: 18rem; width:13rem">
                    <div class="card-body" style="background-color:rgb(113, 184, 43)">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <p class="card-text">₹ {{this.Price}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn  btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<script>

</script>